*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 702px;
    height: 702px;
    border: 1px solid blue;
}

#container div {
    border: 1px solid red;
}

#container div:hover {
    background-color: #ccc;
}

#colorChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #colorPicker {
    
} */